@media only screen and (max-width: 992px) and (min-width: 600px) {
  /* font-family: 'Poppins', sans-serif; */

  header {
    padding: 0 15px 80px 15px;
  }

  #header-main {
    max-width: 100%;
  }

  .header-right {
    padding-left: 15px;
  }

  .main-menu {
    list-style: none;
  }

  nav {
    flex-basis: 85%;
  }

  .head-btn {
    flex-basis: 15%;
  }

  .menu-items {
    margin-right: 15px;
  }

  .shop {
    padding: 13px 40px;
  }

  .mob-menu {
    display: none;
  }

  .head-mob-btn {
    display: none;
  }

  /* Hero section items styling */

  .title-image {
    margin-left: 25px;
    width: 90%;
  }

  .hero-abouttxt br {
    display: none;
  }

  /* Brans logo section styling */
  .brands {
    padding: 30px 0 100px 0;
  }

  .brands-main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .brands-logo {
    cursor: pointer;
  }

  /* Specs section styling */

  #specs {
    background-color: #0f0f10;
    padding: 30px 0;
  }

  .specs-head-img {
    text-align: center;
    padding-bottom: 30px;
  }

  .specs-main {
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .specs-left {
    flex-basis: 50%;
    padding-left: 50px;
  }

  .specs-right {
    flex-basis: 50%;
  }

  /* Case section styling */

  .case-main {
    max-width: 70%;
  }

  /* Buy now offer section */

  #offer {
    padding-bottom: 100px;
  }

  .offer-main {
    background-color: #181a1b;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 9px;
    padding: 40px 65px;
  }

  .offer-left {
    background-color: #181a1b;
  }
  .offer-right {
    background-color: #181a1b;
  }

  .offer-right-img {
    background-color: #181a1b;
    max-width: 90%;
  }

  .offer-heading {
    background-color: #181a1b;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5em;
  }

  .offer-txt {
    background-color: #181a1b;
    color: #b7babc;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
  }

  .offer-btn {
    background-color: #000000;
    margin-top: 15px;
  }

  /* Product area styling */

  #products {
    padding-bottom: 100px;
  }

  .product-title-area {
    text-align: center;
    padding-bottom: 50px;
  }

  .products-main {
    max-width: 75%;
    margin: 0 auto;
  }

  /* Footer area styling */

  footer {
    padding: 50px 15px 100px 15px;
  }

  #footer-main {
    max-width: 90%;
  }

  .newsletter {
    margin-right: -70px;
  }

  .footer-col1 {
    flex-basis: 20%;
  }

  .footer-col2 {
    flex-basis: 15%;
    padding-left: 40px;
  }

  .footer-col3 {
    flex-basis: 15%;
    padding-left: 70px;
  }

  .footer-col4 {
    flex-basis: 50%;
  }

  .social-area {
    padding: 30px 0 0 100px;
  }
}
