@media only screen and (max-width: 600px) {
  header {
    padding: 0 15px 50px 15px;
  }

  #header-main {
    max-width: 100%;
    flex-direction: column;
    padding-top: 30px;
  }

  .header-left {
    flex-basis: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .hero-img {
    margin-top: -200px;
  }

  .header-right {
    flex-basis: 100%;
    padding-left: 0;
  }

  .mob-menu {
    display: block;
    color: #f2f2f3;
    font-size: 20px;
  }

  .head-mob-btn {
    display: block;
  }

  .header-menu {
    display: none;
  }

  /* Hero section items styling */

  .hero-content {
    text-align: center;
  }

  .title-image {
    max-width: 95%;
    margin-top: 40px;
    margin-left: 0;
  }

  .hero-small-heading {
    margin-top: 25px;
  }

  .hero-abouttxt br {
    display: none;
  }

  .addto-cart {
    margin: 0 auto;
  }

  /* Brans logo section styling */

  .brands {
    padding: 40px 15px 40px 15px;
  }

  .brands-main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .brands-box {
    flex-basis: 50%;
    padding-bottom: 40px;
    text-align: center;
  }

  .brands-logo {
    cursor: pointer;
  }

  /* Specs section styling */

  #specs {
    padding: 30px 15px;
  }

  .specs-head-img {
    text-align: center;
    padding-bottom: 40px;
  }

  .specs-main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .specs-left {
    flex-basis: 49%;
    padding-left: 0;
  }

  .specs-right {
    flex-basis: 49%;
  }

  .specs-headphone {
    width: 97%;
  }

  /* Case section styling */

  #case {
    padding: 70px 15px;
  }

  .case-title-area {
    text-align: center;
  }

  .case-main {
    max-width: 100%;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }

  .case-right {
    text-align: center;
  }

  .case-right-txt br {
    display: none;
  }

  .case-btn {
    display: flex;
    margin: 0 auto;
  }

  /* Buy now offer section */

  #offer {
    padding: 0 15px 100px 15px;
  }

  .offer-main {
    max-width: 95%;
    flex-direction: column;
    gap: 20px;
    padding: 50px 40px;
  }

  .offer-left {
    order: 2;
  }
  .offer-right {
    order: 1;
  }

  .offer-right-img {
    max-width: 100%;
  }

  .offer-heading {
    text-align: center;
  }

  .offer-txt {
    text-align: center;
  }

  .offer-btn {
    margin-top: 20px;
  }

  /* Product area styling */

  #products {
    padding: 0 15px 40px 15px;
  }

  .product-title-area {
    text-align: center;
    padding-bottom: 100px;
  }

  .products-main {
    max-width: 65%;
  }

  .product-row {
    flex-direction: column;
    gap: 100px;
  }

  .pr2 {
    padding-top: 100px;
  }

  .product-items {
    margin: 0;
  }

  .product-image {
    margin-top: -60px;
  }

  .product-info {
    padding: 10px 15px;
  }

  .pi6 {
    display: none;
  }

  /* Footer area styling */

  footer {
    padding: 50px 15px 100px 15px;
  }

  #footer-main {
    max-width: 80%;
    flex-wrap: wrap;
  }

  .newsletter-form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: right;
  }

  .newsletter-input-area {
    flex-basis: 100%;
  }

  .newsletter-btn-area {
    flex-basis: 100%;
  }

  .newsletter {
    width: 100%;
    background-color: #181a1b;
    border: 0;
    padding: 20px 25px 20px 25px;
    border-radius: 9px;
    margin-right: 0;
  }

  .subscribe {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    padding: 14px 18px;
    margin-left: 0;
    border: 0;
    border-radius: 9px;
    transition: 0.5s;
    margin-top: 15px;
  }

  .subscribe:hover {
    cursor: pointer;
    background-color: #3c383b;
  }

  .footer-col1 {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 40px;
  }

  .footer-col2 {
    flex-basis: 50%;
    padding-left: 25px;
  }

  .footer-col3 {
    flex-basis: 50%;
    padding-left: 25px;
  }

  .footer-col4 {
    flex-basis: 100%;
    padding-top: 40px;
  }

  .social-area {
    text-align: center;
    padding: 30px 0 0 0;
  }

  .social-icons {
    margin-right: 15px;
  }

  .copyright {
    text-align: center;
  }
}
