/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f10;
}

header {
  background-color: #0f0f10;
  padding-bottom: 120px;
}

#header-main {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.header-left {
  flex-basis: 45%;
}

.header-right {
  flex-basis: 55%;
  padding-left: 20px;
}

.hero-img-area {
  text-align: center;
}

.hero-img {
  margin-top: -230px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  list-style: none;
}

nav {
  flex-basis: 75%;
}

.head-btn {
  flex-basis: 25%;
  text-align: right;
}

.menu-items {
  color: #f2f2f3;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-right: 50px;
  transition: 0.5s;
}

.menu-items:hover {
  color: #3c383b;
  cursor: pointer;
}

.shop {
  background-color: #1e1e21;
  color: #f2f2f3;
  font-size: 15px;
  font-weight: 300;
  padding: 14px 57px;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.5s;
}

.shop:hover {
  background-color: #3c383b;
}

.shop-phone {
  display: none;
}

.mob-menu {
  display: none;
}

.head-mob-btn {
  display: none;
}

/* Hero section items styling */

.title-image {
  margin-top: 40px;
  margin-left: 65px;
}

.hero-heading {
  color: #f2f2f3;
  font-size: 65px;
  font-weight: 600;
}

.hero-small-heading {
  color: #f2f2f3;
  font-size: 20px;
  font-weight: 500;
  margin-top: 35px;
}

.hero-abouttxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9em;
  color: #b7babc;
  margin-bottom: 40px;
  margin-top: 20px;
}

.addto-cart {
  background-color: #1e1e21;
  color: #f2f2f3;
  font-size: 14px;
  font-weight: 300;
  padding: 13px 23px;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.addto-cart:hover {
  background-color: #3c383b;
}

.bag-icon {
  width: 18px;
  height: auto;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 0);
}

.cart-btn-bold {
  font-size: 19px;
  font-weight: 600;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0);
}

/* Brans logo section styling */

.brands {
  background-color: #0f0f10;
  padding: 0 0 100px 0;
}

.brands-main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brands-logo {
  cursor: pointer;
}

/* Specs section styling */

#specs {
  background-color: #0f0f10;
  padding: 30px 0;
}

.specs-head-img {
  text-align: center;
  padding-bottom: 30px;
}

.specs-main {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specs-left {
  flex-basis: 50%;
  padding-left: 50px;
}

.specs-right {
  flex-basis: 50%;
}

.bt-title {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.bt-text {
  color: #b7babc;
  font-size: 12px;
  font-weight: 300;
}

.bluetooth {
  margin-bottom: 20px;
  margin-left: 50px;
}

.battery {
  margin-bottom: 20px;
  margin-left: 20px;
}

.Load {
  margin-bottom: 20px;
  margin-left: 20px;
}

.Microphone {
  margin-bottom: 20px;
  margin-left: 50px;
}

.specs-headphone {
  width: 95%;
}

/* Case section styling */

#case {
  padding: 80px 0 100px 0;
}

.case-title-area {
  text-align: center;
}

.case-main {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.case-right-txt {
  color: #b7babc;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 40px;
}

.case-btn {
  background-color: #1e1e21;
  color: #f2f2f3;
  font-size: 15px;
  font-weight: 300;
  padding: 14px 25px;
  border: 0;
  border-radius: 9px;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
}

.case-btn:hover {
  background-color: #3c383b;
}

.case-btn-icon {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0);
}

/* Buy now offer section */

#offer {
  padding-bottom: 100px;
}

.offer-main {
  background-color: #181a1b;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 9px;
  padding: 40px 85px;
}

.offer-left {
  background-color: #181a1b;
}
.offer-right {
  background-color: #181a1b;
}

.offer-right-img {
  background-color: #181a1b;
  max-width: 90%;
}

.offer-heading {
  background-color: #181a1b;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5em;
}

.offer-txt {
  background-color: #181a1b;
  color: #b7babc;
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
}

.offer-btn {
  background-color: #000000;
  margin-top: 15px;
}

/* Product area styling */

#products {
  padding-bottom: 100px;
}

.product-title-area {
  text-align: center;
  padding-bottom: 50px;
}

.products-main {
  max-width: 630px;
  margin: 0 auto;
}

.product-row {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.pr2 {
  padding-top: 90px;
}

.product-items {
  flex-basis: 33%;
  text-align: center;
  background-color: #181a1b;
  border-radius: 9px;
  margin: 5px;
}

.product-image {
  max-width: 50%;
  margin: 0 auto;
  background-color: #181a1b00;
  margin-top: -45px;
}

.product-info {
  background-color: #181a1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.product-name {
  background-color: #181a1b;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.product-sku {
  color: #b7babc;
  background-color: rgba(255, 255, 255, 0);
}

.cart-icon {
  background-color: #000000;
  padding: 10px;
  border-radius: 9px;
  max-width: 25%;
  height: auto;
  margin-bottom: -5px;
  transition: 0.5s;
}

.cart-icon:hover {
  cursor: pointer;
  background-color: #3c383b;
}

.pi6 {
  background-color: #0f0f10;
}

/* Footer area styling */

footer {
  padding: 50px 0 100px 0;
}

#footer-main {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-menu-title {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer-menu {
  list-style: none;
}

.footer-menu-items {
  color: #b7babc;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.newsletter-input-area {
  flex-basis: 80%;
}

.newsletter-btn-area {
  flex-basis: 0%;
}

.newsletter {
  width: 90%;
  background-color: #181a1b;
  color: #b7babc;
  border: 0;
  padding: 20px 0 20px 15px;
  border-radius: 9px;
  display: inline-block;
  margin-right: -90px;
}

.newsletter:focus {
  outline: none;
}

.newsletter::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: #b7babc;
}

.subscribe {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  padding: 14px 18px;
  margin-left: -125px;
  border: 0;
  border-radius: 9px;
  transition: 0.5s;
}

.subscribe:hover {
  cursor: pointer;
  background-color: #3c383b;
}

.arrow {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.footer-col1 {
  flex-basis: 15%;
}

.footer-col2 {
  flex-basis: 20%;
  padding-left: 60px;
}

.footer-col3 {
  flex-basis: 20%;
  padding-left: 90px;
}

.footer-col4 {
  flex-basis: 45%;
}

.social-area {
  padding: 30px 0 0 125px;
}

.social-icons {
  margin-right: 15px;
}

.copyright {
  color: #b7babc;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  margin-top: 20px;
  line-height: 1.8em;
}
